
<div class="mef">
  <p>Ask your coach anything</p>
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="What du you want?">
    <input type="submit" value="Ask!">
  </form>
</div>
