// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$jone: #FFFEE4;
$gri: #DDDDDD;

.question {
  border-left: solid 4px $gri;
  font-family: Arial;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.answer {
  border-left: solid 4px $gri;
  background-color: $jone;
  padding-left: 10px;
  font-family: Arial;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.you {
  font-weight: 100;
}

.mef {
text-align: center;
font-family: Arial;
}

